
.fc .fc-toolbar.fc-header-toolbar {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 2px solid #e5007d;
    font-weight: bold;
    padding-right: 4.5rem;
    border-radius: 5px;
}

.fc .fc-button-primary:not(:disabled),
.fc .fc-button-primary:not(:disabled):active,
.fc .fc-button-primary:not(:disabled):focus {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-color: #ffffff;
    color: #000000;
    font: 1.2rem;
    height: 50px;
    width: 50px;
    font-weight: bold;
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
}

.fc .fc-button-primary:not(:disabled):hover {
    font-size: 1.25rem;
}

.fc .fc-button-primary:not(:disabled).fc-button-active,
.fc .fc-button-primary:not(:disabled).fc-button-active:active,
.fc .fc-button-primary:not(:disabled).fc-button-active:hover,
.fc .fc-button-primary:not(:disabled).fc-button-active:focus {
    background-color: #ffffff;
    border-color: #ffffff;
    color: #000000;
    font: 1.2rem;
    font-weight: bold;
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
    display: none;
}

.fc .fc-daygrid-event {
    color: rgb(255, 255, 255);
    text-decoration: none !important;
}

.fc .fc-daygrid-day-top {
    background-color: #00000000;
    color: black;
}

.fc .fc-day-today {
    background-color: #ff84c8 !important;
}

.fc-theme-standard .fc-scrollgrid {
    border: 2px solid #e5007d;
    border-radius: 5px;
}

.fc .fc-daygrid-day.fc-day-other {
    background-color: #f2f2f2;
}

.fc .fc-daygrid-event:focus,
.fc .fc-daygrid-event:active {
    background-color: white;
    color: inherit;
    outline: none;
}

.fc .fc-daygrid-day:focus,
.fc .fc-daygrid-day:active {
    background-color: #ffffff !important;
    color: #000000;
    outline: none;
}

.filter-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 15px;
    border: 2px solid #e5007d;
    border-radius: 5px;
    width: auto;
    margin: auto;
    accent-color: #e5007d;
    margin-bottom: 20px;
}

.filter-container label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.filter-container input[type='checkbox'] {
    margin-right: 10px; 
    cursor: pointer;
}

.filter-container label:hover {
    background-color: #f2f2f2;
}

.lineCh {
    display: flex;
    justify-content: center;
}
