/* calendarStyles.css */
.fc .fc-toolbar.fc-header-toolbar {
    background-color: #ffffff; /* couleur de l'entete*/
    color: rgb(0, 0, 0); /* couleur du texte de l'entete */
    border: 2px solid #e5007d;
    font-weight: bold;
    padding-right: 4.5rem;
    border-radius: 5px;
}

.fc .fc-button-primary:not(:disabled),
.fc .fc-button-primary:not(:disabled):hover,
.fc .fc-button-primary:not(:disabled):active,
.fc .fc-button-primary:not(:disabled):focus {
    background-color: #ffffff; /* couleur bouton de droite */
    border-color: #ffffff; /* couleur bordure bouton de droite */
    color: #000000;
    font: 1.2rem;
    font-weight: bold;
    border: none !important;
    box-shadow: none !important;
    outline: none !important; /* Force à ne pas afficher le contour */
}

.fc .fc-button-primary:not(:disabled).fc-button-active,
.fc .fc-button-primary:not(:disabled).fc-button-active:active,
.fc .fc-button-primary:not(:disabled).fc-button-active:hover,
.fc .fc-button-primary:not(:disabled).fc-button-active:focus {
    background-color: #ffffff; /* couleur bouton de droite */
    border-color: #ffffff; /* couleur bordure bouton de droite */
    color: #000000;
    font: 1.2rem;
    font-weight: bold;
    border: none !important;
    box-shadow: none !important;
    outline: none !important; /* Force à ne pas afficher le contour */
    display: none;
}

.fc .fc-daygrid-event {
    color: rgb(255, 255, 255);
    text-decoration: none !important;
}

.fc .fc-daygrid-day-top {
    background-color: #00000000; /* couleur pour la bande des jours ( joues avec l'alpha pour la transparence ) */
    color: black;
}

.fc .fc-day-today {
    background-color: #e5007e73 !important; /* laisses le !important sinon ça ne fonctionne , couleur du fond de case du jour actuelle */
}

.fc-theme-standard .fc-scrollgrid {
    border: 2px solid #e5007d; /*couleur de la bordure général du calendrier */
    border-radius: 5px;
}

.fc .fc-daygrid-day.fc-day-other {
    background-color: #f2f2f2; /* couleur pour les jours hors mois actuelle choisi */
}

.fc .fc-daygrid-event:focus,
.fc .fc-daygrid-event:active {
    background-color: white; /* Ou définissez la couleur souhaitée */
    color: inherit;
    outline: none; /* Enlève le contour si présent */
}

.fc .fc-daygrid-day:focus,
.fc .fc-daygrid-day:active {
    background-color: #ffffff !important; /* Définissez la couleur de fond souhaitée */
    color: #000000; /* Définissez la couleur de texte souhaitée */
    outline: none; /* Enlève le contour si présent */
}
