/* NAV BAR */

.navbar {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 8rem;
    background-color: #212529;
    padding-right: 10rem;
    margin-bottom: 2rem;
    position: fixed; /* Fixed position */
    top: 0; /* Aligns the navbar to the top */
    z-index: 10000;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 10000000;
}

.btn_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.1rem;
    color: white;
    text-decoration: none;
}

.img_nav {
    text-decoration: None;
}

.links {
    color: #f2f2f2; /* Couleur du texte des liens */
    text-decoration: none; /* Supprime le soulignement des liens */
    width: auto;
    font-size: 1.2rem;
    text-align: center;
    position: relative;
    margin: 1.5rem;
    padding: 0.5rem;
    padding-bottom: 0.2rem;
    border-bottom: 3px solid transparent;
}

.links:hover {
    border-bottom: 3px solid #e5007d;
}

.doc {
    color: #f2f2f2; /* Couleur du texte des liens */
    text-decoration: none; /* Supprime le soulignement des liens */
    width: auto;
    font-size: 1.5rem;
    text-align: center;
    position: relative;
    margin-right: 4rem;
    padding: 0.5rem;
    border: 3px solid transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.doc:hover {
    border: 3px solid #e5007d;
}

.underline {
    border-bottom: 3px solid #e5007d;
}

.circle {
    border: 3px solid #e5007d;
}

/* BTN FONCTION */

.functionBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5rem;
}

.btnFunctionBlockDEL {
    border-radius: 10px;
    border: 2px solid black;
    text-align: center;
    padding: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: white;
    font-size: 1.1rem;
    margin: 0.2rem;
    width: 10rem;
    font-family: inherit;
}

.btnFunctionBlockADD {
    border-radius: 10px;
    border: 2px solid black;
    text-align: center;
    padding: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: white;
    font-size: 1.1rem;
    margin: 0.2rem;
    width: 10rem;
    font-family: inherit;
}

.btnFunctionBlockDEL:hover {
    border: 2px solid red;
    transition: 0.2s;
    background-color: rgb(245, 245, 245);
}

.btnFunctionBlockADD:hover {
    border: 2px solid green;
    transition: 0.2s;
    background-color: rgb(245, 245, 245);
}

.searchLine {
    border-radius: 5px;
    border: 2px solid black;
    padding: 0.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: white;
    font-size: 1.1rem;
    width: 30rem;
    font-family: inherit;
}

.searchLine:hover {
    background-color: #f2f2f2;
}

.searchLine:focus {
    background-color: #f2f2f2;
}

/* LINE */

.colName {
    margin-top: 1rem;
    padding-top: 1rem;
    padding-right: 2rem;
    padding-left: 12rem;
    margin-left: 3rem;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.padding0 {
    padding-left: 7rem;
}

.padding1 {
    padding-left: 9rem;
}

.padding2 {
    padding-left: 11rem;
}

.padding3 {
    padding-left: 12rem;
}

.nameR {
    font-weight: bold;
    text-align: center;
    width: 17rem;
    overflow: hidden;
}

.body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.line {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    margin-top: 1rem;
    border-top: 2px solid #e5007d;
    padding-top: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
}

.lineContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 5rem;
    padding-left: 2rem;
}

.checkbox {
    width: 1rem;
    margin-right: 2rem;
}

.check {
    width: 20px;
    height: 20px;
    border: 10px solid white;
    background-color: black;
    accent-color: #e5007d;
}

.checkForm {
    margin-left: 6rem;
    margin-right: 6rem;
    width: 20px;
    height: 20px;
    border: 10px solid white;
    background-color: black;
    accent-color: #e5007d;
}

.Ztext {
    width: 14rem;
    text-align: center;
    margin-left: 3rem;
}

.Ztext[data-color='V'] {
    border: 2px solid green;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 7rem;
    margin-right: 7rem;
}

.Ztext[data-color='R'] {
    border: 2px solid red;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 7rem;
    margin-right: 7rem;
}

.Ztext[data-color='A'] {
    border: 2px solid orange;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 7rem;
    margin-right: 7rem;
}

.BTN_Type {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 2px solid #000000;
    border-radius: 5px;
    font-family: inherit;
    background-color: white;
}

.BTN_Type:hover {
    border: 2px solid #e5007d;
    background-color: #f2f2f2;
}

/* PAGINATION */

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
}

.previous {
    background-color: white;
    margin: 1rem;
    padding: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 10px;
    font-size: 1.1rem;
    font-family: inherit;
}

.previous:hover {
    background-color: #f2f2f2;
    transition: 0.2s;
}

.next {
    background-color: white;
    margin: 1rem;
    padding: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 10px;
    font-size: 1.1rem;
    font-family: inherit;
}

.next:hover {
    background-color: #f2f2f2;
    transition: 0.2s;
}

.number {
    background-color: white;
    padding: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 10px;
    font-size: 1.1rem;
    font-family: inherit;
}

.number:hover {
    background-color: #f2f2f2;
    transition: 0.2s;
}

.select {
    background-color: white;
    padding: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 10px;
    font-size: 1.1rem;
    font-family: inherit;
}

.select:hover {
    background-color: #f2f2f2;
    transition: 0.2s;
}

/* ID PAGE */

.idPage {
    margin-bottom: 4rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.info {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
}

.titre {
    margin-right: 0.5rem;
    font-weight: bold;
}

.titre_global {
    font-size: 1.8rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline #e5007d;
    text-underline-offset: 0.4rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
    margin-left: 30rem;
    margin-right: 20rem;
}

.info_id {
    display: flex;
    justify-content: space-around;
}

.col_1 {
    display: flex;
    flex-direction: column;
    border-left: 3px solid #e5007d;
    width: 35rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.col_2 {
    display: flex;
    flex-direction: column;
    width: 35rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-left: 3px solid #e5007d;
    /*border-right: 3px solid #e5007d ;*/
}

/* LOGIN */

.pageLog {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
}

.formu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.lg {
    font-size: 2rem;
    border-bottom: 3px solid #e5007d;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    margin-bottom: 2rem;
    font-weight: bold;
}

.log {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    font-size: 1rem;
    padding: 1rem;
    margin: 0.5rem;
    border: 2px solid black;
    border-radius: 5px;
}

.input:hover,
.input:focus {
    background-color: #f2f2f2;
    border-radius: 5px;
    border-color: #e5007d;
    outline: none;
}

.input:focus::placeholder {
    color: black;
}

.submit {
    font-size: 1.1rem;
    padding: 1rem;
    margin: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    font-family: inherit;
    font-weight: bold;
    color: #262a2e;
    text-decoration: none;
}

.submit:hover {
    border: 2px solid #e5007d;
    background-color: #f2f2f2;
    cursor: pointer;
}

/* PopUp */

.page {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;
}

.PopUpType {
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 1000;
    position: absolute;
    width: 100%;
    top: 9rem;
    height: 100%;
    background-color: white;
    padding: 3rem;
    margin-right: 5rem;
}

.PopUp {
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 1000;
    position: absolute;
    width: 100%;
    top: 9rem;
    height: auto;
    background-color: white;
    padding: 3rem;
}

.BTNpop {
    background-color: white;
    padding: 1rem;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    font-family: inherit;
}

.BTNpop:hover {
    background-color: #f2f2f2;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
}

.col_1_add {
    display: flex;
    flex-direction: column;
    border-left: 3px solid #e5007d;
    width: 35rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.col_2_add {
    display: flex;
    flex-direction: column;
    width: 35rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-left: 3px solid #e5007d;
}

.selectF {
    width: 15rem;
    padding: 1rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    margin-left: 1rem;
    border: 2px solid black;
    border-radius: 5px;
    font-family: inherit;
    margin-top: 1rem;
}

.selectF:focus {
    border: 2px solid black;
}

.checkboxF {
    margin-top: 0.7rem;
    padding: 1rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    margin-left: 7rem;
    margin-right: 7rem;
    border: 2px solid black;
    border-radius: 5px;
    font-family: inherit;
    width: 25px;
    height: 25px;
    border: 10px solid white;
    background-color: black;
    accent-color: #e5007d;
}

.checkboxF:focus {
    border: 2px solid black;
}

.BTNsub {
    width: 10rem;
    padding: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: 1rem;
    border: 3px solid black;
    border-radius: 10px;
    background-color: white;
    font-size: 1.1rem;
    font-weight: bold;
    font-family: inherit;
}

.BTNsub:hover {
    border: 3px solid #e5007d;
    background-color: #f2f2f2;
}

.label {
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 0.9rem;
}

.rowPop {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 70%;
    font-weight: bold;
    margin-left: 5rem;
}

.calendar {
    width: 60%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.NF {
    margin-top: 4rem;
    font-size: 4rem;
    border-bottom: 3px solid #e5007d;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.CNF {
    font-size: 1.2rem;
}

.BTN_CNF {
    margin-top: 3rem;
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
    padding: 1rem;
    border: 3px solid #000000;
    border-radius: 1rem;
    font-family: inherit;
    background-color: white;
}

.BTN_CNF:hover {
    border: 3px solid #e5007d;
    border-radius: 1rem;
    background-color: #f2f2f2;
}

.croix {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.croixID {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-top: 2rem;
}

.btnC {
    border: none;
    background-color: white;
    font-family: inherit;
}

.page1 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.lg1 {
    font-size: 2rem;
    border-bottom: 3px solid #e5007d;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    margin-bottom: 2rem;
    font-weight: bold;
    margin-left: 12rem;
    margin-right: 2rem;
}

.BTNdiv {
    display: flex;
    justify-content: center;
    margin: 1rem;
    margin-left: 10rem;
    border-radius: 0%;
    font-family: inherit;
}

.CR {
    margin-bottom: 2rem;
    margin-left: 5rem;
    margin-right: 2rem;
    cursor: pointer;
}

.CRPag {
    margin-bottom: 2rem;
    margin-left: 5rem;
    margin-right: 2rem;
    cursor: pointer;
}

.CRid {
    margin-left: 5rem;
    margin-right: 2rem;
    cursor: pointer;
}

.btnModif {
    margin-bottom: 2rem;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 2px solid #000000;
    border-radius: 1rem;
    font-family: inherit;
    background-color: white;
}

.btnModif:hover {
    border: 2px solid #e5007d;
    border-radius: 1rem;
    background-color: #f2f2f2;
}

.connect {
    margin-right: auto;
    margin-left: auto;
    width: 500px;
    text-align: center;
    padding-top: 2rem;
}

.typeButtons {
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.md {
    font-size: 1.7rem;
    border-bottom: 3px solid #e5007d;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    padding-top: 1.5rem;
    margin-bottom: 2rem;
    font-weight: bold;
}

.requis {
    color: #e5007d;
}

.load {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 10000;
    font-size: 2rem;
    color: black;
}

.PageLay {
    line-height: 1;
    min-height: 65vh;
}

.linkID {
    text-decoration: none;
    cursor: pointer;
    border: 3px solid black;
    color: black;
    border-radius: 10px;
    padding: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-family: inherit;
}

.linkID:hover {
    cursor: pointer;
    border: 3px solid #e5007d;
    background-color: #f2f2f2;
}

.linkID:active {
    cursor: pointer;
    border: 3px solid #e5007d;
    background-color: #f2f2f2;
}

.linkIdMod {
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
    border: 3px solid black;
    color: black;
    border-radius: 10px;
    padding: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: 1rem;
    margin-top: 0rem;
    background-color: white;
    font-family: inherit;
    font-weight: bold;
}

.linkIdMod:hover {
    cursor: pointer;
    border: 3px solid #e5007d;
    background-color: #f2f2f2;
}

.linkIdMod:active {
    cursor: pointer;
    border: 3px solid #e5007d;
    background-color: #f2f2f2;
}

.gridTwoColumns {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    margin-left: 7%;
    gap: 1rem;
}

.popupCol[data-col='0'] {
    grid-column: 1;
}

.popupCol[data-col='1'] {
    grid-column: 2;
}

.popupCol[data-col='2'] {
    grid-column: 3;
}

.popupCol[data-row='0'] {
    grid-row: 1;
}

.popupCol[data-row='1'] {
    grid-row: 2;
}

.popupCol[data-row='2'] {
    grid-row: 3;
}

.popupCol[data-row='3'] {
    grid-row: 4;
}

.popupCol[data-row='4'] {
    grid-row: 5;
}

.popupCol[data-row='5'] {
    grid-row: 6;
}

.popupCol[data-row='6'] {
    grid-row: 7;
}

.popupCol[data-row='7'] {
    grid-row: 8;
}

.popupCol[data-row='8'] {
    grid-row: 9;
}

.popupCol[data-row='9'] {
    grid-row: 10;
}

.popupCol[data-row='10'] {
    grid-row: 11;
}

.savebutton {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    color: black;
    text-decoration: none;
    background-color: #f2f2f2;
    border: solid 3px black;
    padding: 10px 20px;
    border-radius: 1rem;
    font-family: inherit;
    cursor: pointer;
    margin: 20px auto;
    margin-bottom: 25rem;
    margin-top: 4rem;
}

.savebutton:hover {
    border-color: #e5007d;
}

.anyData {
    font-size: 1.8rem;
    color: #e5007d;
    padding: 4rem;
    padding-bottom: 0rem;
}

/* ErrorPopUP */

.popUpBackground {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.errorPopUp {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    width: 50%;
    height: 50%;
}

.notLog {
    font-weight: bold;
    padding: 2rem;
    margin-top: 12rem;
    font-size: 1.6rem;
    color: #000000;
    border: 3px solid #e5007d;
    border-radius: 50px;
}

.conect {
    margin-top: 1rem;
    font-weight: bold;
    font-size: 1.2rem;
    color: #000000;
    width: 100%;
}

.sommaire {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 4rem;
    border-right: 3px solid #e5007d;
}

.sommaireGrpCol {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.sommaireCol {
    padding-left: 2rem;
    padding-right: 2rem;
}

.sommaire li {
    font-size: 1.4rem;
    text-decoration: none;
    color: black;
    padding: 0.2rem;
    border-bottom: 2px solid transparent;
}

.sommaire li:hover {
    border-bottom: 2px solid #e5007d;
    cursor: pointer;
}

.sommaire li a {
    font-size: 1.4rem;
    text-decoration: none;
    color: black;
    padding: 0.5rem;
}

.mainInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 2rem;
    width: 70%;
}

.mainCompart {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    font-size: 1.4rem;
    width: 70%;
    padding: 2rem;
}

.compart {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-top: 2rem;
    font-size: 1.2rem;
    width: 70%;
}

.titleCompart {
    text-align: flex-start;
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 1rem;
    padding: 0.1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-bottom: 2px solid #e5007d;
    margin-bottom: 0.5rem;
}

.titleSom {
    text-align: flex-start;
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 1rem;
    padding: 0.1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-bottom: 2px solid #e5007d;
    margin-bottom: 2rem;
}
