/* NAV BAR */

.navbar {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 8rem;
    background-color: #212529;
    padding-right: 10rem;
    margin-bottom: 2rem;
    position: fixed; /* Fixed position */
    top: 0; /* Aligns the navbar to the top */
    z-index: 10000;
}

.btn_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.1rem;
    color: white;
    text-decoration: none;
}

.img_nav {
    text-decoration: None;
}

.links {
    color: #f2f2f2; /* Couleur du texte des liens */
    text-decoration: none; /* Supprime le soulignement des liens */
    width: auto;
    font-size: 1.2rem;
    text-align: center;
    position: relative;
    margin: 1.5rem;
    padding: 0.5rem;
    padding-bottom: 0.2rem;
    border-bottom: 3px solid transparent;
}

.links:hover {
    border-bottom: 3px solid #e5007d;
}

.underline {
    border-bottom: 3px solid #e5007d;
}

/* BTN FONCTION */

.functionBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5rem;
}

.btnFunctionBlockDEL {
    border-radius: 10px;
    border: 2px solid black;
    text-align: center;
    padding: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: white;
    font-size: 1.1rem;
    margin: 0.2rem;
    width: 10rem;
    font-family: inherit;
}

.btnFunctionBlockADD {
    border-radius: 10px;
    border: 2px solid black;
    text-align: center;
    padding: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: white;
    font-size: 1.1rem;
    margin: 0.2rem;
    width: 10rem;
    font-family: inherit;
}

.btnFunctionBlockDEL:hover {
    border: 2px solid red;
    transition: 0.2s;
    background-color: rgb(245, 245, 245);
}

.btnFunctionBlockADD:hover {
    border: 2px solid green;
    transition: 0.2s;
    background-color: rgb(245, 245, 245);
}

.searchLine {
    border-radius: 5px;
    border: 2px solid black;
    padding: 0.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: white;
    font-size: 1.1rem;
    width: 30rem;
    font-family: inherit;
}

/* LINE */

.colName {
    margin-top: 1rem;
    padding-top: 1rem;
    padding-right: 2rem;
    padding-left: 12rem;
    margin-left: 3rem;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.padding0 {
    padding-left: 7rem;
}

.padding1 {
    padding-left: 9rem;
}

.padding2 {
    padding-left: 11rem;
}

.padding3 {
    padding-left: 12rem;
}

.nameR {
    font-weight: bold;
    text-align: center;
    width: 17rem;
    overflow: hidden;
}

.body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.line {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    margin-top: 1rem;
    border-top: 2px solid #e5007d;
    padding-top: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
}

.lineContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 5rem;
    padding-left: 2rem;
}

.checkbox {
    width: 1rem;
    margin-right: 2rem;
}

.check {
    width: 20px;
    height: 20px;
    border: 10px solid white;
    background-color: black;
    accent-color: #e5007d;
}

.Ztext {
    width: 14rem;
    text-align: center;
    margin-left: 3rem;
    overflow: hidden;
}

.red {
    border: 2px solid red;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 7rem;
    margin-right: 7rem;
}

.green {
    border: 2px solid green;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 7rem;
    margin-right: 7rem;
}

.orange {
    border: 2px solid orange;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 7rem;
    margin-right: 7rem;
}

/* PAGINATION */

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
}

.previous {
    background-color: white;
    margin: 1rem;
    padding: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 10px;
    font-size: 1.1rem;
    font-family: inherit;
}

.previous:hover {
    background-color: #f2f2f2;
    transition: 0.2s;
}

.next {
    background-color: white;
    margin: 1rem;
    padding: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 10px;
    font-size: 1.1rem;
    font-family: inherit;
}

.next:hover {
    background-color: #f2f2f2;
    transition: 0.2s;
}

.number {
    background-color: white;
    padding: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 10px;
    font-size: 1.1rem;
    font-family: inherit;
}

.number:hover {
    background-color: #f2f2f2;
    transition: 0.2s;
}

.select {
    background-color: white;
    padding: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 10px;
    font-size: 1.1rem;
    font-family: inherit;
}

.select:hover {
    background-color: #f2f2f2;
    transition: 0.2s;
}

/* ID PAGE */

.idPage {
    margin-bottom: 4rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.info {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
}

.titre {
    margin-right: 0.5rem;
    font-weight: bold;
}

.titre_global {
    font-size: 1.8rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline #e5007d;
    text-underline-offset: 0.4rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.info_id {
    display: flex;
    justify-content: space-around;
}

.col_1 {
    display: flex;
    flex-direction: column;
    border-left: 3px solid #e5007d;
    width: 35rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.col_2 {
    display: flex;
    flex-direction: column;
    width: 35rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-left: 3px solid #e5007d;
    /*border-right: 3px solid #e5007d ;*/
}

/* LOGIN */

.pageLog {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
}

.formu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.lg {
    font-size: 2rem;
    border-bottom: 3px solid #e5007d;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    margin-bottom: 2rem;
    font-weight: bold;
}

.log {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    font-size: 1rem;
    padding: 1rem;
    margin: 0.5rem;
    border: 2px solid black;
    border-radius: 5px;
}

.input:hover,
.input:focus {
    border-radius: 5px;
    border-color: #e5007d;
    outline: none;
}

.input:focus::placeholder {
    color: black;
}

.submit {
    font-size: 1.1rem;
    padding: 1.5rem;
    margin: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    font-family: inherit;
    font-weight: bold;
    color: #262a2e;
    text-decoration: none;
}

.submit:hover {
    border: 2px solid #e5007d;
    background-color: #f2f2f2;
    cursor: pointer;
}

/* PopUp */

.page {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;
}

.PopUp {
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 1000;
    position: absolute;
    width: 100%;
    top: 9rem;
    height: auto;
    background-color: white;
    padding: 3rem;
}

.BTNpop {
    background-color: white;
    padding: 1rem;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    font-family: inherit;
}

.BTNpop:hover {
    background-color: #f2f2f2;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
}

.col_1_add {
    display: flex;
    flex-direction: column;
    border-left: 3px solid #e5007d;
    width: 35rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.col_2_add {
    display: flex;
    flex-direction: column;
    width: 35rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-left: 3px solid #e5007d;
}

.selectF {
    width: 25rem;
    padding: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: 1rem;
    margin-top: 2rem;
    border: 2px solid black;
    border-radius: 5px;
    font-family: inherit;
}

.selectF:focus {
    border: 2px solid black;
}

.checkboxF {
    padding: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: 1rem;
    margin-left: 12.5rem;
    margin-right: 13rem;
    margin-top: 2rem;
    border: 2px solid black;
    border-radius: 5px;
    font-family: inherit;
    width: 25px;
    height: 25px;
    border: 10px solid white;
    background-color: black;
    accent-color: #e5007d;
}

.checkboxF:focus {
    border: 2px solid black;
}

.BTNsub {
    width: 10rem;
    padding: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: 1rem;
    border: 3px solid black;
    border-radius: 10px;
    background-color: white;
    font-size: 1.1rem;
    font-weight: bold;
    font-family: inherit;
}

.BTNsub:hover {
    border: 3px solid #e5007d;
    background-color: #f2f2f2;
}

.label {
    width: 25rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 0.9rem;
}

.rowPop {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
    font-weight: bold;
    margin-right: 8rem;
}

.calendar {
    width: 60%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.NF {
    margin-top: 8rem;
    font-size: 4rem;
    border-bottom: 3px solid #e5007d;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.CNF {
    font-size: 1.2rem;
}

.BTN_CNF {
    margin-top: 3rem;
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
    padding: 1rem;
    border: 3px solid #000000;
    border-radius: 1rem;
    font-family: inherit;
    background-color: white;
}

.BTN_CNF:hover {
    border: 3px solid #e5007d;
    border-radius: 1rem;
    background-color: #f2f2f2;
}

.croix {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.btnC {
    border: none;
    background-color: white;
    font-family: inherit;
}

.page1 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.lg1 {
    font-size: 2rem;
    border-bottom: 3px solid #e5007d;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    margin-bottom: 2rem;
    font-weight: bold;
    margin-left: 12rem;
}

.BTNdiv {
    display: flex;
    justify-content: center;
    margin: 1rem;
    margin-left: 10rem;
    border-radius: 0%;
    font-family: inherit;
}

.CR {
    margin-bottom: 2rem;
    margin-left: 10rem;
    cursor: pointer;
}

.btnModif {
    margin-bottom: 2rem;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 2px solid #000000;
    border-radius: 1rem;
    font-family: inherit;
    background-color: white;
}

.btnModif:hover {
    border: 2px solid #e5007d;
    border-radius: 1rem;
    background-color: #f2f2f2;
}

.connect {
    margin-right: auto;
    margin-left: auto;
    width: 500px;
    text-align: center;
    padding-top: 2rem;
}

.typeButtons {
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.md {
    font-size: 1.7rem;
    border-bottom: 3px solid #e5007d;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    padding-top: 1.5rem;
    margin-bottom: 2rem;
    font-weight: bold;
}
